In [1]:
!pip install pymysql
!pip install flask==0.12

Requirement already satisfied: pymysql in /opt/conda/lib/python3.6/site-packages
Requirement already satisfied: cryptography in /opt/conda/lib/python3.6/site-packages (from pymysql)
Requirement already satisfied: idna>=2.1 in /opt/conda/lib/python3.6/site-packages (from cryptography->pymysql)
Requirement already satisfied: asn1crypto>=0.21.0 in /opt/conda/lib/python3.6/site-packages (from cryptography->pymysql)
Requirement already satisfied: six>=1.4.1 in /opt/conda/lib/python3.6/site-packages (from cryptography->pymysql)
Requirement already satisfied: cffi>=1.7 in /opt/conda/lib/python3.6/site-packages (from cryptography->pymysql)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.6/site-packages (from cffi>=1.7->cryptography->pymysql)
You are using pip version 9.0.3, however version 18.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Requirement already satisfied: flask==0.12 in /opt/conda/lib/python3.6/site-packages
Requirement already satisfied: Werkzeug>=0.7 in /opt/conda/lib/python3.6/site-packages (from flask==0.12)
Requirement already satisfied: click>=2.0 in /opt/conda/lib/python3.6/site-packages (from flask==0.12)
Requirement already satisfied: itsdangerous>=0.21 in /opt/conda/lib/python3.6/site-packages (from flask==0.12)
Requirement already satisfied: Jinja2>=2.4 in /opt/conda/lib/python3.6/site-packages (from flask==0.12)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/lib/python3.6/site-packages (from Jinja2>=2.4->flask==0.12)
You are using pip version 9.0.3, however version 18.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [1]:
import pymysql

conn = pymysql.connect(host='mysql', port=3306, user='root', passwd='iii', db='mysql',charset='utf8mb4')

print("connect sucess!!")

cur = conn.cursor()

if cur.execute("SHOW DATABASES LIKE 'test'"):
    cur.execute("DROP DATABASE test")
    cur.execute("create database test")
else:
    cur.execute("create database test")
if cur.execute("SELECT * \
                FROM information_schema.tables \
                WHERE table_schema = 'test' \
                AND table_name = 'first' LIMIT 1"):
    cur.execute("DROP TABLE first")
    cur.execute('create table test.first (userid CHAR(20),username CHAR(100))')
else:
    cur.execute('create table test.first (userid CHAR(20),username CHAR(100))')

connect sucess!!

In [2]:
#製作flask環境
from flask import Flask, request, jsonify

app = Flask(__name__)

In [3]:
# GET接口

@app.route('/user',methods=['GET'])

def get():
    #讀取資料
    a=request.args.get('userid')
    readsql=('SELECT * FROM test.first WHERE userid=("%s")' % (a))
    cur.execute(readsql)
    result=cur.fetchone()
      
    return jsonify(result)

In [4]:
# POST接口

@app.route('/user',methods=['POST'])

def post():
    a = request.get_json()
    usid = a['userid']
    usname = a['username']
    insertsql=("INSERT INTO test.first VALUES ( %s , %s )" % (usid,usname))
    readsql="SELECT * FROM test.first"
    cur.execute(readsql)
    result=cur.fetchone()
    
    return result

In [5]:
# PUT 接口

@app.route('/user',methods=['PUT'])

def put():
    a = request.get_json()
    usid = a['userid']
    usname = a['username']
    insertsql=("UPDATE test.first SET username=(%s) WHERE userid=(%s)" % (usname,usid))
    cur.execute(insertsql)
    readsql="SELECT * FROM test.first"
    cur.execute(readsql)
    result=cur.fetchone()
    
    return jsonify(result)
insertsql="UPDATE test.first SET username='chester' WHERE userid='16'"

In [10]:
if __name__ == "__main__":
    app.run(host='0.0.0.0',port=5000)

 * Running on http://0.0.0.0:5000/ (Press CTRL+C to quit)
192.168.122.1 - - [18/Aug/2018 12:53:53] "GET /user?userid=16 HTTP/1.1" 200 -
192.168.122.1 - - [18/Aug/2018 12:54:06] "POST /user HTTP/1.1" 400 -
192.168.122.1 - - [18/Aug/2018 12:54:06] "PUT /user HTTP/1.1" 400 -

In [6]:
cur = conn.cursor()
#插入資料
insertsql="INSERT INTO test.first VALUES ('16','ter')"
cur.execute(insertsql)

1

In [12]:
#讀取資料
readsql='SELECT * FROM test.first WHERE userid=16'
cur.execute(readsql)
result = cur.fetchone()
print(result)

('16', 'ter')

In [8]:

#插入資料
insertsql="INSERT INTO test.first VALUES ('12','ter')"
cur.execute(insertsql)

1

In [10]:
#更新資料 (更改電話號碼)
insertsql="UPDATE test.first SET username='chester' WHERE userid='16'"
cur.execute(insertsql)

1

In [2]:
#更新資料 (更改電話號碼)
insertsql="UPDATE test.first SET phonenumber='0911111111' WHERE name='chester'"
cur.execute(insertsql)
#讀取資料
readsql="SELECT * FROM test.first"
cur.execute(readsql)
result=cur.fetchone()
print(result)
#刪除資料
delsql="DELETE FROM test.first WHERE name='chester'"
cur.execute(delsql)
#讀取資料
readsql="SELECT * FROM test.first"
cur.execute(readsql)
result=cur.fetchone()
print(result)

ProgrammingError: (1146, "Table 'test.first' doesn't exist")