In [1]:
!pip install pymysql

Collecting pymysql
  Downloading https://files.pythonhosted.org/packages/a7/7d/682c4a7da195a678047c8f1c51bb7682aaedee1dca7547883c3993ca9282/PyMySQL-0.9.2-py2.py3-none-any.whl (47kB)
    100% |████████████████████████████████| 51kB 406kB/s ta 0:00:01
Requirement already satisfied: cryptography in /opt/conda/lib/python3.6/site-packages (from pymysql)
Requirement already satisfied: idna>=2.1 in /opt/conda/lib/python3.6/site-packages (from cryptography->pymysql)
Requirement already satisfied: asn1crypto>=0.21.0 in /opt/conda/lib/python3.6/site-packages (from cryptography->pymysql)
Requirement already satisfied: six>=1.4.1 in /opt/conda/lib/python3.6/site-packages (from cryptography->pymysql)
Requirement already satisfied: cffi>=1.7 in /opt/conda/lib/python3.6/site-packages (from cryptography->pymysql)
Requirement already satisfied: pycparser in /opt/conda/lib/python3.6/site-packages (from cffi>=1.7->cryptography->pymysql)
Installing collected packages: pymysql
Successfully installed pymysql-0.9.2
You are using pip version 9.0.3, however version 18.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [16]:
import pymysql

conn = pymysql.connect(host='mysql', port=3306, user='root', passwd='iii', db='mysql',charset='utf8mb4')

print("connect sucess!!")

cur = conn.cursor()

if cur.execute("SHOW DATABASES LIKE 'test'"):
    cur.execute("DROP DATABASE test")
else:
    cur.execute("create database test")
    if cur.execute("SELECT * \
                    FROM information_schema.tables \
                    WHERE table_schema = 'test' 
    AND table_name = 'first' LIMIT 1"):
        cur.execute("DROP TABLE first")
    else:
        cur.execute('create table test.first (name CHAR(20), phonenumber INT, address CHAR(100))')

connect sucess!!

In [47]:
cur = conn.cursor()
#插入資料
insertsql="INSERT INTO test.first VALUES ('chester','0988888888','taiwan')"
cur.execute(insertsql)
#讀取資料
readsql="SELECT * FROM test.first"
cur.execute(readsql)
result=cur.fetchone()
print(result)

('chester', 988888888, 'taiwan')

In [49]:
#更新資料 (更改電話號碼)
insertsql="UPDATE test.first SET phonenumber='0911111111' WHERE name='chester'"
cur.execute(insertsql)
#讀取資料
readsql="SELECT * FROM test.first"
cur.execute(readsql)
result=cur.fetchone()
print(result)
#刪除資料
delsql="DELETE FROM test.first WHERE name='chester'"
cur.execute(delsql)
#讀取資料
readsql="SELECT * FROM test.first"
cur.execute(readsql)
result=cur.fetchone()
print(result)

('chester', 911111111, 'taiwan')
None

In [ ]:
#刪除資料
delsql="DELETE FROM test.first WHERE name='chester'"
cur.execute(delsql)
#讀取資料
readsql="SELECT * FROM test.first"
cur.execute(readsql)
result=cur.fetchone()
print(result)


cur.close()
conn.close()